*{
  margin:0;
  padding: 0;
  border:0;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
 /* margin: 2em; */
}

h1 {
  font-style: italic;
  color: #373fff;
}

header {
  background-color: aqua ;
}
nav{
  background-color: blue ;
  float: left;
  width: 30%;
  color: white;
}

main{
  background-color: orange;
  margin-left: 30%;
}
section{
  background-color: red;
}
article{
  background-color:grey;
}
footer{
  background-color:black;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  height: 100px;
}
@media screen and (max-width: 800px){
  ul.sidenav li.right,  ul.sidenav li {
      float: none;
  }
  nav{
    display: block ;
    width: 100%;
  }
  main{
    margin-left: 0;
  }
} 
